.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-template-areas: "h h h h h h h h"
                         "pic pic pic pic pic name name name"
                         "aside aside main main main"
                         "foot foot foot foot foot";
    /* column-gap: 10px;
    row-gap: 15px; */
    grid-gap: 15px;               
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}
.nav {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    /* width: 100%; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.menu {
    /* grid-area: "header header header header header"; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    /* width: 100%; */
    /* border: 1px solid green; */
}
li {
    list-style-type: none;
}
a {
    color: black;
    /* column-gap: 30px; */
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* BANNER */
.first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.second {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 10;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.third {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 10;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fourth {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 10;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}

#fixtures {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 11;
}
.table {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 12;
    grid-row-end: 13;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/* THE CLUB */
#club {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 16;
}
.club-img1 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 17;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.club-img2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 19;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.quote {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 16;
    grid-row-end: 19;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thequote {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.club-img3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 20;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#contact {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 20;
    grid-row-end: 20;
}
.lineOne {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 20;
    grid-row-end: 20;
    background-color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}
.lineTwo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 22;
    grid-row-end: 22;
    background-color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}

.joinUs {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 21;
    grid-row-end: 21;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: 2.5rem;
    /* justify-content: center; */
    text-align: center;
}
.once {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 22;
    grid-row-end: 22;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: 1.5rem;
    justify-content: center;
    /* text-align: center; */
}

.mail {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 22;
    grid-row-end: 23;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: 1.5rem;
    justify-content: center;
    /* text-align: center; */
}
.last-img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 20;
    grid-row-end: 23;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 24;
    grid-row-end: 24;
    text-align: right;
}
.copy {
    padding-right: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    /* body {
      background-color: blue;
    } */
    .first {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 6;
    }
    .second {
        display: none;
    }
    .third {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 10;
    }
    .fourth {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 10;
    }
    .club-img3 {
        display: none;
    }
    .club-img1 {
        display: none;
    }
    .club-img2 {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 16;
        grid-row-end: 18;
    }
    .quote {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 19;
        grid-row-end: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contact {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .lineOne {
        display: none;
    }
    .lineTwo {
        display: none;
    }
    .last-img {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 20;
        grid-row-end: 21;
    }
    .joinUs {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 21;
        grid-row-end: 21;
        font-family: 'Roboto', sans-serif;
        /* font-weight: bold; */
        font-size: 2.5rem;
        /* justify-content: center; */
        text-align: center;
    }
    .mail {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 22;
        grid-row-end: 23;
        font-family: 'Roboto', sans-serif;
        /* font-weight: bold; */
        font-size: 1.5rem;
        justify-content: center;
        /* text-align: center; */
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    /* body {
      background-color: olive;
    } */
    .nav {
        display: none;
    }
    .third {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    .first {
        display: none;
    }
    .fourth {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 11;
        background-color: #ffffff;
        /* opacity: 0.8; */
    }
    .club-img2 {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 16;
        grid-row-end: 18;
    }
    .title {
        text-decoration: underline;
    }
  }