.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-template-areas: "h h h h h h h h"
                         "pic pic pic pic pic name name name"
                         "aside aside main main main"
                         "foot foot foot foot foot";
    /* column-gap: 10px;
    row-gap: 15px; */
    grid-gap: 15px;               
}
.nav {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    /* width: 100%; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.menu {
    /* grid-area: "header header header header header"; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    /* width: 100%; */
    /* border: 1px solid green; */
}
li {
    list-style-type: none;
}
a {
    color: black;
    /* column-gap: 30px; */
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
 /*  Banner part of the site */
/* .gallery {
    display: grid;

} */
.first {
    /* grid-area: pic; */
    /* height: 400px;
    width: 250px; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.second {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 10;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.third {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 10;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fourth {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 10;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}

#fixtures {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 11;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.table {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 13;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/* 
#members {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 14;
    grid-row-end: 16;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}
.memberOne img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.memberTwo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.memberOne {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 14;
    grid-row-end: 14;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.memberTwo {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 14;
    grid-row-end: 14;
    object-fit: cover;
    width: 100%;
    height: 100%;
} */
#club {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 14;
    grid-row-end: 16;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
}
.club-img1 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 17;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.club-img2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 19;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.quote {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 16;
    grid-row-end: 19;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thequote {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.club-img3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 20;
    object-fit: cover;
    width: 100%;
    height: 100%;
}